/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/libminiupnpc.a
/libminiupnpc.so
/libminiupnpc.so.1.5
/libminiupnpc.so.8
/minixmlvalid
/testigddescparse
/testminiwget
/testminixml
/testupnpreplyparse
